# Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
local_settings.py

# Environments
.env
venv/
env/
.venv/

# Static & Media
static/
staticfiles/
media/

# VSCode
.vscode/

# Logs
*.log

# Migrations (кроме инициализационных)
*/migrations/*
!*/migrations/__init__.py

# System
.DS_Store
.idea/
